<!--navigation-->
<section class="navigation">
    <div class="container">
        <div class="box-navigation">
            <div class="box">
                <h1>
                    <img src="/img/logo.png" style="width:200px;height:200px;padding-top: 20px;">
                </h1>
            </div>
            <div class="box menu-navigation">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/promo">Promo</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/contact">Contact</a></li>
            <div>
                <li><button class="button-login" onclick="redirectToLogin()"><i class="fa-solid fa-user"></i> Akun </button></li>
                </ul>
                </div>
                <div class="box menu-bar">
                    <i class="ri-menu-3-fill" style="color: #fff;"></i>
                </div>
            </div>
        </div>
   <!--navigation-->