<!--about-->
<section class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header-text">
          <h4>More About Us</h4>
          <h1>About Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-container">
  <div class="about-img">
    <img src="/img/about.png" alt="" />
  </div>
  <div class="about-text">
    <h2>Wecome to MisterMind, Advance Your Career with MisterMind</h2>
    <p>
      "MasterMind" can also be used more broadly to describe someone who is an
      expert or highly skilled in a particular field or activity. For instance,
      you might hear someone referred to as the "mastermind" of a successful
      project or as a mastermind in a specific industry, indicating their high
      level of knowledge and expertise.
    </p>
    <div class="about-fe">
      <img src="/img/service-icon-01.png" alt="" />
      <div class="fe-text">
        <h5>Limitless Innovation:</h5>
        <p>
          We stay up-to-date with the latest advancements in technology and
          industries to provide you with relevant and current insights.
        </p>
      </div>
    </div>
    <div class="about-fe">
      <img src="/img/service-icon-02.png" alt="" />
      <div class="fe-text">
        <h5>Unmatched Quality</h5>
        <p>
          Gain in-depth knowledge and practical skills that will help you
          achieve your career goals.
        </p>
      </div>
    </div>
  </div>
</section>
<!--about-->

<!-- Our team -->
<section class="our-team">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h6>Our Team</h6>
          <h4>Our Team <em>Members</em></h4>
        </div>
      </div>
      <div class="col-lg-10 offset-lg-1">
        <div class="naccs">
          <div class="tabs">
            <div class="row">
              <div class="col-lg-12">
                <div class="menu">
                  <div class="active">
                    <img src="/img/Hana Farahdiana.jpg" alt="">
                    <h4>Hana Farahdiana</h4>
                    <span>Project Leader</span>
                  </div>
                  <div>
                    <img src="/img/syalva.jpg" alt="">
                    <h4>Syalva Syadila</h4>
                    <span>Front End</span>
                  </div>
                  <div>
                    <img src="/img/rifqi arief.jpeg" alt="">
                    <h4>Rifqi Arief</h4>
                    <span>Front End</span>
                  </div>
                  <div>
                    <img src="/img/Fathan surya sofyan.jpg" alt="">
                    <h4>Fathan Surya</h4>
                    <span>Back End</span>
                  </div>
                  <div>
                    <img src="/img/Sinariati Telaumbenua.jpg" alt="">
                    <h4>Sinariati Telaumbenua</h4>
                    <span>Quality Assurance</span>
                  </div>
                  <div>
                    <img src="/img/Putri dylon balla salsabillah.jpeg" alt="" />
                    <h4>Putri Dylon Balla Salsabillah</h4>
                    <span>Quality Assurance</span>
                  </div>
                </div>
              </div>
</section>
<!-- Our team -->

<!-- Header Why -->
<section>
  <div class="headerwhy">
    <h1>Why Choose Mister Mind?</h1>
</div>
<div class="containerwhy">
    <div class="feature-box">
        <i class="fas fa-clock"></i>
        <h2>Timely Service</h2>
        <p>We provide services on time to meet your needs.</p>
    </div>
    <div class="feature-box">
        <i class="fas fa-thumbs-up"></i>
        <h2>High Quality</h2>
        <p>Our products and services are of the highest quality.</p>
    </div>
    <div class="feature-box">
        <i class="fas fa-users"></i>
        <h2>Expert Team</h2>
        <p>Our team consists of experts in the field.</p>
    </div>
    <div class="feature-box">
        <i class="fas fa-money-bill"></i>
        <h2>Affordable</h2>
        <p>We offer competitive and affordable prices.</p>
    </div>
</div>
</section>
<!-- Header Why -->

<!-- Our Partners -->
<section id="trust">
  <h1>Trusted by Our Partners</h1>
  <div class="trust-img">
      <img src="/img/partner1.jpg" alt="">
      <img src="/img/partner2.png.crdownload" alt="">
      <img src="/img/partner3.jfif" alt="">
      <img src="/img/partner4.png" alt="">
      <img src="/img/partner5.jfif" alt="">
  </div>
</section>
<!-- Our Partners -->