<section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h4>Course Detail</h4>
            <h1>Software Engineer</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

<section id="course-detail">
    <div class="overview">
        <img class="course-img" src="/img/softwareeng (1).png" alt="">
        <div class="course-head">
            <div class="c-name">
                <h2>Software Engineer</h2>
                <p>Welcome to our Software Engineer course! This comprehensive program is designed to equip you with the essential skills and knowledge needed to excel in the dynamic field of software engineering. Whether you're a beginner or looking to advance your existing skills, our course has something to offer everyone.</p>
            </div>
            <span>Rp3.0000.0000</span>
            <div class="course-btn">
              <a class="blue" href="#"> Enroll Now</a>
          </div>
        </div>
        <hr>
        <h3>Instructure</h3>
        <div class="tutor">
            <img src="/img/syalva.jpg" alt="">
            <div class="tutor-det">
                <h5>Syalva Syadila</h5>
                <p>Sofware Engineer at Google </p>
            </div>
        </div>
        <hr>
        <h3>Description</h3>
        <p>Are you passionate about building cutting-edge software solutions and shaping the digital future? Our Software Engineer Course is your gateway to a rewarding career in the world of technology and development.</p>
        <hr>
        <h3>What You Will Learn?</h3>
        <div class="learn">
            <p><i class="far fa-check-square"></i>Programming Fundamentals</p>
            <p><i class="far fa-check-square"></i>Mobile App Development</p>
            <p><i class="far fa-check-square"></i>Software Architecture</p>
            <p><i class="far fa-check-square"></i>Database Management</p>
            <p><i class="far fa-check-square"></i>Version Control and Collaboration</p>
            <hr>
            <div class="enroll">
              <h3>What's Included in This Course?</h3>
              <ul class="course-features">
                  <li></i> 10 Video Lessons</li>
                  <li></i>Materi</li>
                  <li></i> Access to Downloadable Resources</li>
                  <li></i> Lifetime Access to Course Material</li>
                  <li></i> Accessible on Mobile and PC</li>
              </ul>
          </div>
        </div>
    </div>
</section>