<!-- Card Course -->
   <section class="section courses" data-section="section4">
    <div class="section-heading">
        <h2>Choose Your Courses</h2>
    </div>
    <div class="card-carousel">
        <div class="card-wrapper">
            <div class="card">
                <div class="image-content">
                    <img src="/img/digitalmarketing.png" alt="" class="card-image" />
                </div>
                <div class="card-content" onclick="window.location.href='/coursedetail';">
                    <h2 class="name">Digital Marketing</h2>
                    <p class="description">Master organic channels and paid marketing to scale your digital business. Improve your digital channel know-how, critical thinking skills, and analytical frameworks.</p>
                    <button class="button">Free</button>
                </div>
            </div>
            <div class="card">
                <div class="image-content">
                    <img src="/img/software.png" alt="" class="card-image" />
                </div>
                <div class="card-content" onclick="window.location.href='coursedetail1';">
                    <h2 class="name">Software Engineer</h2>
                    <p class="description">Pursue one of the most resilient careers in Tech as a Software Engineer with a comprehensive understanding of front-end to back-end web development.</p>
                    <button class="button">Pay</button>
                </div>
            </div>

            <div class="card">
              <div class="image-content">
                <img src="/img/uiux.jpeg" alt="" class="card-image" />
              </div>
              <div class="card-content" onclick="window.location.href='coursedetail2';">
              <h2 class="name">UI/UX Designer</h2>
              <p class="description">Unlock your potential in the world of UI/UX design, gain essential knowledge to create outstanding user experiences, shape the digital future, and explore your creativity to the fullest.</p>
              <button class="button">Pay</button>
            </div>
      </div>

      <div class="card">
        <div class="image-content">
          <img src="/img/datascience.jpeg" alt="" class="card-image" />
        </div>
        <div class="card-content" onclick="window.location.href='coursedetail3';">
              <h2 class="name">Data Science</h2>
              <p class="description">Embark on a journey into the world of Data Science, acquire the essential skills to extract insights from data, make informed decisions, and unlock a universe of possibilities in the data-driven era.</p>
              <button class="button">Pay</button>
            </div>
      </div>
<div class="card">
  <div class="image-content">
    <img src="/img/Artificial Intelegence.jpeg" alt="" class="card-image" />
  </div>
      <div class="card-content" onclick="window.location.href='coursedetail4';">
        <h2 class="name">Artificial Intelligence</h2>
        <p class="description">Dive into the exciting realm of Artificial Intelligence, acquire the knowledge and tools to create intelligent systems, solve complex problems, and shape the future through AI-driven innovation.</p>
        <button class="button">Pay</button>
      </div>
</div>
<div class="card">
  <div class="image-content">
      <img src="/img/digitalmarketing.png" alt="" class="card-image" />
  </div>
  <div class="card-content" onclick="window.location.href='/coursedetail';">
      <h2 class="name">Digital Marketing</h2>
      <p class="description">Master organic channels and paid marketing to scale your digital business. Improve your digital channel know-how, critical thinking skills, and analytical frameworks.</p>
      <button class="button">Free</button>
  </div>
</div>
<div class="card">
  <div class="image-content">
      <img src="/img/software.png" alt="" class="card-image" />
  </div>
  <div class="card-content" onclick="window.location.href='coursedetail1';">
      <h2 class="name">Software Engineer</h2>
      <p class="description">Pursue one of the most resilient careers in Tech as a Software Engineer with a comprehensive understanding of front-end to back-end web development.</p>
      <button class="button">Pay</button>
  </div>
</div>

<div class="card">
<div class="image-content">
  <img src="/img/uiux.jpeg" alt="" class="card-image" />
</div>
<div class="card-content" onclick="window.location.href='coursedetail2';">
<h2 class="name">UI/UX Designer</h2>
<p class="description">Unlock your potential in the world of UI/UX design, gain essential knowledge to create outstanding user experiences, shape the digital future, and explore your creativity to the fullest.</p>
<button class="button">Pay</button>
</div>
</div>

<div class="card">
<div class="image-content">
<img src="/img/datascience.jpeg" alt="" class="card-image" />
</div>
<div class="card-content" onclick="window.location.href='coursedetail3';">
<h2 class="name">Data Science</h2>
<p class="description">Embark on a journey into the world of Data Science, acquire the essential skills to extract insights from data, make informed decisions, and unlock a universe of possibilities in the data-driven era.</p>
<button class="button">Pay</button>
</div>
</div>
<div class="card">
<div class="image-content">
<img src="/img/Artificial Intelegence.jpeg" alt="" class="card-image" />
</div>
<div class="card-content" onclick="window.location.href='coursedetail4';">
<h2 class="name">Artificial Intelligence</h2>
<p class="description">Dive into the exciting realm of Artificial Intelligence, acquire the knowledge and tools to create intelligent systems, solve complex problems, and shape the future through AI-driven innovation.</p>
<button class="button">Pay</button>
</div>
</div>
</div>
    <div class="carousel">
      <button class="carousel-button prev">Previous</button>
      <button class="carousel-button next">Next</button>
    </div>
</div>
</section>
<!-- Card Course -->
