<section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h4>Course Detail</h4>
            <h1>Digital Marketing</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

<section id="course-detail">
    <div class="overview">
        <img class="course-img" src="/img/digital.png" alt="">
        <div class="course-head">
            <div class="c-name">
                <h2>Digital Marketing</h2>
                <p>Welcome to our Digital Marketing course! This is your opportunity to deepen your understanding of the digital marketing world and master various skills required to take over the digital market.</p>
            </div>
            <span>FREE</span>
            <div class="course-btn">
              <a class="blue" href="#"> Enroll Now</a>
          </div>
        </div>
        <hr>
        <h3>Instructure</h3>
        <div class="tutor">
            <img src="/img/Hana Farahdiana.jpg" alt="">
            <div class="tutor-det">
                <h5>Hana Farahdiana</h5>
                <p>Hana has over 10 years of experience in the digital marketing industry.</p>
            </div>
        </div>
        <hr>
        <h3>Description</h3>
        <p>In this course, you will explore various aspects of digital marketing, ranging from organic strategies to paid advertising. You will grasp the critical thinking framework and analytical tools necessary to manage successful marketing campaigns in the rapidly evolving digital era.</p>
        <hr>
        <h3>What You Will Learn?</h3>
        <div class="learn">
            <p><i class="far fa-check-square"></i>Introduction to Digital Marketing</p>
            <p><i class="far fa-check-square"></i>Enhancing website rankings in search engines</p>
            <p><i class="far fa-check-square"></i>Building an online presence and community on social media platforms</p>
            <p><i class="far fa-check-square"></i>Building an effective subscriber list</p>
            <p><i class="far fa-check-square"></i>Utilizing data to optimize your campaigns</p>
            <hr>
            <div class="enroll">
              <h3>What's Included in This Course?</h3>
              <ul class="course-features">
                  <li></i> 10 Video Lessons</li>
                  <li></i>Materi</li>
                  <li></i> Access to Downloadable Resources</li>
                  <li></i> Lifetime Access to Course Material</li>
                  <li></i> Accessible on Mobile and PC</li>
              </ul>
          </div>
        </div>
    </div>
</section>