<!-- Form -->
<section class="section coming-soon" data-section="section3">
  <div class="container">
    <div class="row">
      <div class="Roww">
        <div class="continer centerIt">
          <div>
            <h4>
              Take <em>any online course</em> and get 50% discount for your next
              class
            </h4>
            <div id="counter" class="counter">
              <div class="days">
                <div class="value">00</div>
                <span>Days</span>
              </div>

              <div class="hours">
                <div class="value">00</div>
                <span>Hours</span>
              </div>

              <div class="minutes">
                <div class="value">00</div>
                <span>Minutes</span>
              </div>

              <div class="seconds">
                <div class="value">00</div>
                <span>Seconds</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="right-content">
          <div class="top-content">
            <h6>
              Register your free account and <em>get immediate</em> access to
              online courses
            </h6>
          </div>
          <form id="promo" action="/promo" method="get">
            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <input
                    name="name"
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    required=""
                  />
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input
                    name="email"
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Your Email"
                    required=""
                  />
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input
                    name="phone-number"
                    type="text"
                    class="form-control"
                    id="phone-number"
                    placeholder="Your Phone Number"
                    required=""
                  />
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">
                    Get it now
                  </button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const promoForm = document.getElementById("promo");

  promoForm.addEventListener("submit", function (e) {
    e.preventDefault();

    let promoName = document.querySelector('input[name="name"]').value;
    let promoEmail = document.querySelector('input[name="email"]').value;
    let promoTelp = document.querySelector('input[name="phone-number"]').value;

    fetch("http://localhost:3001/api/promos", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        name: promoName,
        email: promoEmail,
        telp: promoTelp,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        alert(data.message);
        window.location.href = "/promo";
      })
      .catch((e) => console.error(e));
  });
</script>

<!-- Form -->
