<header>
<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="/img/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="caption">
                <h6>Unlock Your Potential in the Digital World</h6>
                <h2><em>Explore</em> Our Courses</h2>
            </div>
        </div>
    </div>
</section>
</header>
<!-- ***** Main Banner Area Start ***** -->
